@font-face {
    font-family: "Mantou";
    src: url(../font/MantouSans-Regular.ttf);
}

/* 應用自訂字體到全站 */
body {
    font-family: 'Mantou', Arial, sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none; /* 移除超連結底線 */
    
    
}

/* 滑鼠移到 `<a>` 時變成深底淺色 */
nav a:hover {
    background-color: black;
    color: white;
}

nav > ul {
    background-color: rgb(224, 197, 197);
    list-style: none; /* 移除項目符號 */
    margin: 0;
    padding: 0;

    
}
nav > ul > li > img {
    display: flex;
    padding: 13px;
}

.flex-nav {
    display: flex;
    justify-content: center
}



/* 移除 .typing-effect 類別及其相關動畫 */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  #typed {
      font-size: 11rem; /* 調整字體大小以配合動畫 */
      text-align: center;
      /* border-right: 2px solid black; 保留光標效果 */
      animation: blink-caret 0.75s step-end infinite; /* 僅保留閃爍光標 */
  }
  