@font-face {
    font-family: "Mantou";
    src: url(../font/MantouSans-Regular.ttf) format('truetype');
    font-display: swap; /* 提高字體加載性能 */
}

/* 應用自訂字體到全站 */
body {
    font-family: 'Mantou', Arial, sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, pink, white);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 30%; }
    100% { background-position: 0% 50%; }
}

h1, h2, h3 {
    font-family: 'Mantou', serif;
    margin: 10px 250px;
}

h1 {
    font-size: 4rem;
}

ul {
    font-family: 'Mantou', serif;
    /* list-style-type: none; */
    margin: 10px 250px;
    font-size: 2rem;
}

/* 移除 .typing-effect 類別及其相關動畫 */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  #typed {
    margin: 200px 0;
    font-size: 11rem; /* 調整字體大小以配合動畫 */
    text-align: center;
    /* border-right: 2px solid black; 保留光標效果 */
    animation: blink-caret 0.75s step-end infinite; /* 僅保留閃爍光標 */
  }
  